

<!DOCTYPE html>
<html>
<head>
	<title>陈翔宇的简历</title>
	<!--fonts-->
		<link href='' type='text/css'>
		<link href='' rel='stylesheet' type='text/css'>
	<!--//fonts-->
		<link href="__RESUME__/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
		<link href="__RESUME__/css/style.css" rel="stylesheet" type="text/css" media="all" />
	<!-- for-mobile-apps -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="Kong Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
		Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!-- //for-mobile-apps -->
	<!-- js -->
		<script type="text/javascript" src="__RESUME__/js/jquery.min.js"></script>
	<!-- js -->
	<!-- start-smooth-scrolling -->
		<script type="text/javascript" src="__RESUME__/js/move-top.js"></script>
		<script type="text/javascript" src="__RESUME__/js/easing.js"></script>
		<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
		</script>
	<!-- start-smooth-scrolling -->

</head>
<body>
<!-- banner -->
<div class="banner" id="home">
	<div class="container"> 
		<div class="top-header row">
			<script src="__RESUME__/js/classie.js"></script>
			<!--top-nav---->
			<div class="logo">
				<a href="index.html"><img src="" alt=""/></a>
			</div>
			<div class="top-nav">
				<div class="nav-icon">
					    <a href="#" class="right_bt" id="activator"></a>
				</div>
				<div class="box" id="box">
					<div class="box_content">        					                         
						<div class="box_content_center">
							<div class="form_content">
								<div class="menu_box_list">
									<ul>
										<li><a class="scroll" href="#home"><span>home</span></a></li>
										<li><a class="scroll" href="#about"><span>about</span></a></li>
										<li><a class="scroll" href="#services"><span>services</span></a></li>
										<li><a class="scroll" href="#portfolio"><span>portfolio</span></a></li>
										<li><a class="scroll" href="#testimonial"><span>Testimonial</span></a></li>
										<li><a class="scroll" href="#blog"><span>blog</span></a></li>
										<li><a class="scroll" href="#contact"><span>Contact</span></a></li>
										<div class="clearfix"> </div>
									</ul>
								</div>
								<a class="boxclose" id="boxclose"> <span> </span></a>
							</div>                                  
						</div> 	
					</div> 
				</div>       	  
			</div>
			<!---start-click-drop-down-menu----->
			        <!----start-dropdown--->
			         <script type="text/javascript">
						var $ = jQuery.noConflict();
							$(function() {
								$('#activator').click(function(){
									$('#box').animate({'top':'0px'},900);
								});
								$('#boxclose').click(function(){
								$('#box').animate({'top':'-1000px'},900);
								});
							});
							$(document).ready(function(){
							//Hide (Collapse) the toggle containers on load
							$(".toggle_container").hide(); 
							//Switch the "Open" and "Close" state per click then slide up/down (depending on open/close state)
							$(".trigger").click(function(){
								$(this).toggleClass("active").next().slideToggle("slow");
									return false; //Prevent the browser jump to the link anchor
							});
												
						});
					</script>
			<!---//End-click-drop-down-menu----->
			<div class="clearfix"> </div>
		</div>
		<div class="banner-info">
			<div class="banner-left">
				<img src="__RESUME__/images/1.jpg" alt=""/>
			</div>
			<div class="banner-right">
				<h1> 我叫陈翔宇</h1>
				<div class="border"></div>
				<h2>PHP开发工程师</h2>
				<a href="{:url('index/resume/download')}">下载我的简历</a>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
<!--/header-banner-->
<div class="copyrights">Collect from <a href="" ></a></div>
<!--about-->
<div class="about text-center" id="about">
	<div class="container">
		<h3>我的技能简介</h3>
		<div class="strip text-center"><img src="__RESUME__/images/about.png" alt=" "/></div>
		<p id="aa">1.对PHP比较熟悉，基本知识扎实，可以在linux下动态编译第三方库，如redis，运用thinkphp laravel框架 。<br/>
		  2.mysql独立建表，了解基本sql语句和数据类型，基本的查询优化，简单的视图存储过程。<br/>3.对nosql技术有一定的了解，主页读取比较频繁的缓存写到redis...。<br/>4.对linux命令有一定的了解，能编译配置lnmp环境，会写简单的shell脚本。<br/>5.对服务器有一定的了解，rewrite，301重定向等。<br/>6.对前端html，css，javascript，jquery等有一定的了解，用过bootstrap 。 7.对ajax有一定的了解，切割上传大文件等。<br/>8.还会视频处理技术（AE，PR）图片处理技术（PS，AI）等。</p>
		
	</div>


</div>

<!--//about-->
<div class="about-back"></div>
<!--my skill-->
<div class="my-skills text-center">
	<div class="container">
		<h3>我的技能</h3>
		<div class="strip text-center"><img src="__RESUME__/images/skill.png" alt=" "/></div>
		<div class="skill-grids">
					<div class="col-md-2 skills-grid text-center">
						<div class="circle" id="circles-1"></div>
						<p>ＬＩＮＵＸ</p>
					</div>
					<div class="col-md-2 skills-grid text-center">
						<div class="circle" id="circles-2"></div>
						<p>ＡＰＡＣＨＥ</p>
					</div>
					<div class="col-md-2 skills-grid text-center">
						<div class="circle" id="circles-3"></div>
						<p>ＪＡＶＡＳＣＲＩＰＴ　ＪＱＵＥＲＹ</p>
					</div>
					<div class="col-md-2 skills-grid text-center">
						<div class="circle" id="circles-4"></div>
						<p>Html 5 / CSS 3</p>
					</div>
					<div class="col-md-2 skills-grid text-center">
						<div class="circle" id="circles-5"></div>
						<p>ＭＹＳＱＬ</p>
					</div>
					<div class="col-md-2 skills-grid text-center">
						<div class="circle" id="circles-6"></div>
						<p>ＰＨＰ</p>
					</div>
					<div class="clearfix"> </div>
				 <script type="text/javascript" src="__RESUME__/js/circles.js"></script>
					         <script>
								var colors = [
										['#6ed4c0', '#ffffff'], ['#6ed4c0', '#ffffff'], ['#6ed4c0', '#ffffff'], ['#6ed4c0', '#ffffff'], ['#6ed4c0', '#ffffff'], ['#6ed4c0', '#ffffff']
									];
								for (var i = 1; i <= 7; i++) {
									var child = document.getElementById('circles-' + i),
										percentage = 30 + (i * 10);
										
									Circles.create({
										id:         child.id,
										percentage: percentage,
										radius:     80,
										width:      10,
										number:   	percentage / 1,
										text:       '%',
										colors:     colors[i - 1]
									});
								}
						
				</script>
		</div>
	</div>	
</div>
<!--//my skill-->
<div class="my-skill-back"></div>
<!--education-->
<div class="education text-center">
	<div class="container">
		<div class="edu-info">
			<h3>教育经历</h3>
		</div>
		<div class="strip text-center"><img src="__RESUME__/images/edu.png" alt=" "/></div>
		<div class="edu-grids">
			<div class="col-md-4 edu-grid">
				
				
			</div>
			<div class="col-md-4 edu-grid">
				<p>2011 - 2015</p><span></span>
				<img src="__RESUME__/images/arrow.png" alt=""/>
				<div class="edu-border">
					<div class="edu-grid-master">
						<h3>学士学位</h3>
						<h4>周口师范学院</h4>
					</div>
					<div class="edu-grid-info">
						<h5>本科期间学习成绩良好，无不良记录，英语4级，取得学士学位和毕业证书</h5>
					</div>
				</div>
			</div>
			<div class="col-md-4 edu-grid">
				
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	
</div>
<!--//education-->
<div class="strip-border"><p></p></div>
<!--work-->
<div class="work-experience text-center">
	
	<div class="container">
		<div class="work-info">
			<h3>工作经历</h3>
		</div>
		<div class="strip text-center"><img src="__RESUME__/images/work.png" alt=" "/></div>
		<div class="work-grids">
			<div class="col-md-4 w-grid">
				<div class="work-grid">
					<h3>2013 - 2016</h3>
					<div class="work-grid-info">
						<h4>校园网站维护</h4>
						<h5></h5>
						<p>在此期间，维护我们学校的网站，网站名字是校拾网，主要服务于在校大学生，跳蚤市场，二手物品交易网站。</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 w-grid">
				<div class="work-grid">
					<h3>2016.3 - 2016.12</h3>
					<div class="work-grid-info">
						<h4>深圳市长海乐富电子商务有限公司</h4>
						<h5></h5>
						<p>使用PHP/HTML作为开发语言 TP作为基本框架（MVC模式），调用多个插件（如bootstrap）等，开发具有前台（用户注册，登录，购物车等）和后台（内容管理系统，用户管理系统，商品管理系统等）的购物网站。主要负责网站功能分析，部分数据库设计，代码实现，后期测试以及代码的优化</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 w-grid">
				<div class="work-grid">
					<h3>2017 - Now</h3>
					<div class="work-grid-info">
						<h4>期待加入您的公司</h4>
						<h5></h5>
						<p>2017年我希望能找一个稳定的工作，能最大化实现自己价值的工作开心的做下去。</p>
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
<!--//work-->
<div class="services-back"></div>

<!--services-->
<div class="services text-center" id="services">
	<div class="container">
		<div class="ser-info">
			<h3>我的项目</h3>
		</div>
		<div class="strip text-center"><img src="__RESUME__/images/ser.png" alt=" "/></div>
		<div class="ser-grids">
			<a href="http://xiangyu2016.tk/lagou/public/"><div class="col-md-3 ser-grid">
				<div class="ser-imagea" ></div>
				<h3>项目前台</h3>
				<p>项目前台展示，包括登录注册，填写简历，发布简历等</p>
			</div></a>
			<a href="http://xiangyu2016.tk/lagou/public/admin/loging"><div class="col-md-3 ser-grid">
				<div class="ser-imageb"></div>
				<h3>项目后台</h3>
				<p>内容管理系统，用户管理系统</p>
			</div></a>
			
			<!-- <div class="col-md-3 ser-grid">
				<div class="ser-imagec"></div>
				<h3>Content Writer</h3>
				<p>I'm gonna shoot you in the head
				then and there. Then I'm gonna shoot 
				that bitch in the kneecaps.</p>
			</div>
			<div class="col-md-3 ser-grid">
				<div class="ser-imaged"></div>
				<h3>Development</h3>
				<p>I'm gonna shoot you in the head
				then and there. Then I'm gonna shoot 
				that bitch in the kneecaps.</p>
			</div> -->
			<div class="clearfix"></div>
		</div>
	</div>
</div>
<div class="contact-back"></div>
<!--contact-->
<div class="contact" id="contact">
	<div class="container">
		<div class="contact-info text-center">
			<h3>联系方式</h3>
			<div class="strip text-center"><img src="__RESUME__/images/con1.png" alt=" "/></div>
		</div>
		<div class="contact-grids">
			<div class="col-md-5 contact-left">
				<h3>首先，感谢您抽时间看我的简历</h3>
				
				<ul>
					
					<li>我的电话是</li>
					<li>15000694560</li>
					<li>我的邮箱是</li>
					<li>996163957@qq.com</li>
					
					
					
				</ul>
			</div>
			
			<div class="clearfix"></div>
		</div>
	</div>
</div>
<!--//contact-->
<div class="footer-top"></div>
<!--resume-->
<div class="resume text-center">
	<div class="container">
		<div class="strip text-center"><a href="chenxiangyu.doc"><img src="__RESUME__/images/down.png" alt=" "/></a></div>
		<div class="down"><a href="{:url('index/resume/download')}">下载我的简历</a></div>
	</div>
</div>
<!--//resume-->

<!--footer-->

<!--//footer-->
<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
<!-- //here ends scrolling icon -->
</body>
</html>
